/* Reset CSS */
* {
    margin: 0;
    padding: 0;
}

/* Colors */
:root {
    --color1: #000;
    --color2: #fff;
    --color3: #930912;
}

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: Arial, Helvetica, sans-serif;
}

/* paragraph */
p {
    font-family: "Open Sans", sans-serif;
}

/* links */
a{
    color: var(--color2);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */
#header {
    padding: 20px 40px;
    background-color: var(--color1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Nav */
#nav > #nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    cursor: pointer;
}
#nav > #nav-list li {
    margin: 0 15px;
    border-radius: 10px;
    padding: 10px;
    color: var(--color2);
    transition: all 500ms ease-in-out;
}
#nav > #nav-list li:hover{
    background-color: var(--color3);
    text-decoration: underline;
}