/* Reset CSS */
* {
    margin: 0;
    padding: 0;
}

/* Colors */
:root {
    --color1: #000;
    --color2: #fff;
    --color3: #930912;
    --color4: #0e0e0e;
}

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: Arial, Helvetica, sans-serif;
}

/* paragraph */
p {
    font-family: "Open Sans", sans-serif;
}

/* links */
a{
    color: var(--color2);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */
#header {
    padding: 20px 40px;
    background-color: var(--color1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Nav */
#nav > #nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    cursor: pointer;
}
#nav > #nav-list li {
    margin: 0 15px;
    border-radius: 10px;
    padding: 10px;
    color: var(--color2);
    transition: all 500ms ease-in-out;
}
#nav > #nav-list li:hover{
    background-color: var(--color3);
    text-decoration: underline;
}

section {
    background-color: var(--color4);
}

/* Section 1 */
#section1 {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 80vh;
    background-color: var(--color4);
    text-align: center;
    padding: 50px 20px;
    background-image: url(../img/resident-evil-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}
#section1 > .introduction{
    margin: 0 15px;
}
.introduction > .content > h1 {
    font-size: 2.5em;
}
.introduction > .content > h1, p {
    color: var(--color2);
    margin-top: 15px;
    line-height: 1.5;
}

/* Section 2 */
#section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 60px;
}
#section2 > .about-content {
    margin: 0 20px;
}
.about-content > h2{
    font-size: 2em;
    color: var(--color3);
}
.about-content > p{
    text-align: justify;
}